doctype html
html
	head(lang='ru')
		meta(charset='UTF-8')
		title Геом
		link(rel='stylesheet', href='index.css')
		script(src='vendor/require.js')
		script(type='text/javascript', src='scripts/geom.js')
	body
		.ui-container
			.ui.ui-info
				.ui-info-item.left Уровень #[span#level 0]
				.ui-info-item.right
					p Вера: #[span#faithLevel 0]
					p Враги повсюду
			.ui.ui-control
				-var _class_control_add='ui-control-add'
				each key, value in {Fanatic: 'Фанатик', Temple: 'Храм', Holy: 'Святой'}
					-var _class=[]
					-_class.push(_class_control_add)
					-_class.push(_class_control_add+'-type_'+value)
					button(
					type="button"
					onclick="Geom.gameEngine.run('create#{value}')"
					class=_class
					)
						=key
						span(class=_class_control_add + '-level')
							sup(id='#{value}Level') 0
					script.
						setTimeout(function(){
							document.getElementById('#{value}Level').innerHTML = Geom.Constants.#{value}FaithCost;
						}, 2000);
				-var _class_control_speed='ui-control-speed'
				each key, value in {slower: '← Медленнее', faster: 'Быстрее →'}
					button(
					type="button"
					class=_class_control_speed + '-' + value
					onclick="Geom.gameEngine.run('#{value}')"
					)=key
