doctype html
html
	head(lang='ru')
		meta(charset='UTF-8')
		title Геом
		link(rel='stylesheet', href='index.css')
	body
		.ui-container
			.ui.ui-info
				.ui-info-item.left Уровень #[span#level 0]
				.ui-info-item.right Вера: #[span#faithLevel 0]
			.ui.ui-control
				-var _class_control_item='ui-control-item'
				each key, value in {Fanatic: 'Фанатик', Temple: 'Храм', Holy: 'Святой'}
					-var _class=[]
					-_class.push(_class_control_item)
					-_class.push(_class_control_item+'-type_'+value)
					button(
					type="button"
					onclick="Geom.gameEngine.run('create#{value}')"
					class=_class
					)
						=key
						span(id='#{value}Level').ui-control-item-level
							sup 0
		script(src='vendor/require.js')
		script(type='text/javascript', src='scripts/geom.js')
