doctype html
html
	head(lang='ru')
		meta(charset='UTF-8')
		title Геом
		link(rel='stylesheet', href='index.css')
		script(src='vendor/neume.js')
		script(src='vendor/underscore.js')
		script(src='vendor/require.js')
		script(type='text/javascript', src='scripts/geom.js')
	body
		.ui-container
			.ui.ui-info
				.ui-info-item.left
					p Уровень #[span#level 0]
					p#level-up
						button(type="button")#level-up-game Следующий
					#restart
						p Вы проиграли!
						p
							button(type="button")#restart-game Заново
				.ui-info-item.right
					p Вера: #[span#faithLevel 0]
					p Враги повсюду
			.ui.ui-control
				each key, value in {Fanatic: 'Фанатик', Temple: 'Храм', Holy: 'Святой'}
					.ui-control-group
						-var _class_create=[]
						-var _class_control_add='ui-control-add'
						-_class_create.push(_class_control_add)
						-_class_create.push(_class_control_add+'-type_'+value)
						button(
						type="button"
						onclick="Geom.gameEngine.run('create#{value}')"
						class=_class_create
						title="#{key}: Создать"
						)
							=key
							span(class=_class_control_add + '-cost')
								sup(id='add-#{value}Cost') 0
							-_class_level=_class_control_add + '-current_level'
							span(class=_class_level)
								small(
								id='add-#{value}-current_level'
								class=_class_level + '-value'
								) 1
						-_class_upgrade="ui-control-upgrade"
						button(
						type="button"
						onclick="Geom.gameEngine.run('upgrade#{value}')"
						class=_class_upgrade
						title="#{key}: Улучшить"
						) ⏄
							span(
							class=_class_upgrade + '-cost'
							id='upgrade-#{value}Cost'
							) 0
				-var _class_control_speed='ui-control-speed'
				each key, value in {slower: '← Медленнее', faster: 'Быстрее →'}
					button(
					type="button"
					class=_class_control_speed + '-' + value
					onclick="Geom.gameEngine.run('#{value}')"
					)=key
		script(src='music.js')
		canvas#game
